@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Underdog&display=swap");
:root{
--headingFont: 'Underdog', cursive;
--bodyFont: 'Quicksand', sans-serif;
}
@media (max-width: 768px) {
  nav {
    padding: 10px 20px;
    height: 70px;
  }

  nav .logo img {
    height: 50px;
  }

  nav > ul {
    float: none;
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    padding-top: 0.25rem;
  }

  nav > ul > li > a {
    line-height: 40px;
    padding: 5px 10px;
    font-size: 0.8rem;
  }

  nav.black {
    height: 70px;
    padding: 10px 20px;
  }

  nav.black > ul > li > a {
    line-height: 40px;
  }

  main {
    width: 95vw;
    max-width: 95%;
    padding-top: 80px;
  }
}
ul {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 4rem;

    @media (min-width: 550px) {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 2rem;
    }

    @media (min-width: 950px) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
img{
    max-width: 450px;
    padding-top: 1.5rem;
}
body{
    padding-bottom: 6.25rem;
}